<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <title>Document</title>
   
  <link rel="stylesheet" href="../stylesheets/style.css">
  
</head>
<body>
<div class="main w-full bg-zinc-900 min-h-screen text-white p-5 ">
<a class="inline-block mt-3 text-blue-600" href="/">Back to Home</a>
<h1 class="text-3xl mt-3" ><%=filename%></h1>
<p class="mt-3 text-xl"> <%=filedata%></p>

</div>

</body>
<script src="../javascripts/script.js"></script>
</html>